<div class="section">
  <div class="section-header">INFORMACIÓN PAGO DE SUBSIDIO FAMILIAR</div>
  <table>
    <tr>
      <td class="label">Tipo de pago</td>
      <td class="label">Banco</td>
      <td class="label">Tipo de cuenta</td>
      <td class="label">Número de cuenta</td>
    </tr>
    <tr>
      <td>
        <div class="text">{{tippag_detalle}}</div>
      </td>
      <td>
        <div class="text">{{banco_name}}</div>
      </td>
      <td>
        <div class="text">{{tipo_cuenta}}</div>
      </td>
      <td>
        <div class="text">{{numero_cuenta}}</div>
      </td>
    </tr>
  </table>
</div>

<!-- Información Bancaria -->
<div class="section">
  <div class="section-header">
    AUTORIZACIÓN PARA PAGO DEL SUBSIDIO FAMILIAR
  </div>
  <div class="info-bancaria">
    <!-- Espacio para información bancaria -->
    {{info_bancaria}}
  </div>
</div>

