@font-face {
    font-family: "../fonts/lato-regular";
    src: url("../fonts/lato-regular.ttf") format("truetype"),
    url("../fonts/lato-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@page {
    margin: 0in;
    background-image: url("../img/membrete.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "../fonts/lato-regular", sans-serif;
}

body {
    font-size: 9px;
    line-height: 1.2;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
}

table td,
table th {
    border: .8px solid #444;
    padding: 3px;
    font-size: 7px;
}

table th {
    font-weight: bold;
    text-align: left;
}

table th.label,
table td.label {
    background: #f5f5f5;
    color: #222;
}

table tr:first-child th {
    background: #f0f0f0;
}

h1 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    background-color: transparent;
    padding: 25px;
}

.sello-section {
    position: absolute;
    bottom: 18px;
    right: 80px;
}

.sello {
    width: 120px;
    height: 90px;
}