.container {
    margin: 0 auto;
    background-color: transparent;
    padding: 60px;
}

.saludo {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}

.datos-table td,
.datos-table th {
    font-size: 9px;
    color: #222;
} 

.datos-table-border-0 {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
}

.datos-table-border-0 td {
    padding: 8px 10px;
    border: none;
    font-size: 11px;
}

.body-content {
    font-size: 11px;
    line-height: 1.8;
    margin-bottom: 25px;
    text-align: justify;
    color: #222;
}

.body-content p {
    margin-bottom: 14px;
}

.datos-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dato-row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 11px;
}

.dato-label {
    min-width: 100px;
}

.dato-field {
    border-bottom: 1px solid #000;
    padding: 2px 3px;
}

.underline {
    color: #000;
    border-bottom: 1px solid #444;
    display: inline-block;
    min-width: 30px;
    text-align: center;
    vertical-align: middle;
}