
<div class="declaracion">
    <strong>DECLARACIÓN JURADA:</strong> Declaramos que la información
    suministrada en el presente formulario es verdadera, cuenta con los
    soportes probatorios correspondientes y podrá ser verificada en
    cualquier momento por parte de la Caja de Compensación Familiar del
    Caquetá COMFACA, de conformidad con lo dispuesto en el artículo 37 de
    la ley 21 de 1982. En el evento que la información suministrada
    cambie, me comprometo a reportar modificación de los datos a más
    tardar el día 10 del mes siguiente de ocurrida la novedad, de igual
    manera, autorizo a COMFACA, en caso de que cobre cuotas monetarias a
    las cuales no tenga derecho, me sean descontadas de los próximos pagos
    de la cuota monetaria de subsidio familiar a que hubiere lugar.
</div>

<div class="declaracion">
    <strong>AUTORIZACIÓN PARA USO DE LA INFORMACIÓN: COMFACA</strong> es responsable del tratamiento de datos
    personales, y en tal virtud, recolectará, almacenará y usará la información personal que usted suministre
    con lo establecido en el formato de autorización PM-PSF-FT-10 que hemos puesto en su conocimiento de manera
    previa a la solicitud de diligenciamiento del presente documento.
</div>

<div class="declaracion">
    Firmar o diligenciar la información requerida se entenderá como una conducta inequívoca de que usted como
    titular de los datos personales confirma conocer y haber diligenciado el formato de autorización
    PM-PSF-FT-10, otorga su consentimiento a COMFACA para que trate su información personal de acuerdo con lo
    allí descrito y manifiesta que la autorización le fue solicitada y puesta de presente antes de entregar sus
    datos y que la suscribe de forma libre y voluntaria una vez leída en su totalidad.
    SI <span class="small-checkbox active">X</span> NO <span class="small-checkbox"></span>
</div>