<div class="header">
  <div class="logo-section">
    <div class="logo">
      <img src="img/logo-min.png" alt="COMFACA Logo" style="width: 130px; height: 60px" />
    </div>
    <div class="header-info">
      <h1>CAJA DE COMPENSACIÓN FAMILIAR<br />DEL CAQUETÁ COMFACA</h1>
      <p><strong>NIT:</strong> 891190047</p>
      <p><strong>Sede Administrativa:</strong> Carrera 11 No. 10 -34</p>
      <p>
        <strong>Centro Múltiple De Servicios Comfaca:</strong> Transv. 6a.
        calle 12 av. Bruno del Piero
      </p>
      <p>
        <strong>Atención al Usuario:</strong>
        atencionalusuario@comfaca.com
      </p>
      <p>Tel: 6084366300 - www.comfaca.com</p>
    </div>
  </div>
  <div class="title-section">
    <div class="resolution-box">
      <div class="resolution-header">Radicado No.</div>
      <div class="text-radicado">{{ruuid}}</div>
      <div class="form-label">Fecha de radicado</div>
      <div class="resolution-fields">
        <div class="resolution-field">Año: {{year}}</div>
        <div class="resolution-field">Mes: {{month}}</div>
        <div class="resolution-field">Día: {{day}}</div>
      </div>
    </div>
  </div>
</div>
