<div class="header">
    <div class="logo-section">
        <img src="img/logo-min.png" alt="COMFACA Logo" style="width: 90px; height: 35px" />
    </div>
    <div class="mintrabajo-section">
        <div class="mintrabajo-logo">
            <img src="img/mintrabajo.jpg" alt="Mintrabajo Logo" style="width: 145px; height: 35px" />
        </div>
    </div>
    <div class="title-section">
        <h1>Declaración Juramentada</h1>
    </div>
    <div class="date-section">
        <div class="resolution-box">
            <div class="resolution-header">Radicado No.</div>
            <div class="text-radicado">{{ruuid}}</div>
            <div class="form-label">Fecha de radicado</div>
            <div class="resolution-fields">
                <div class="resolution-field">Año: {{year}}</div>
                <div class="resolution-field">Mes: {{month}}</div>
                <div class="resolution-field">Día: {{day}}</div>
            </div>
        </div>
    </div>
</div>