<div class="section">
    <div class="section-header">1. DATOS DEL EMPLEADOR, ENTIDAD PENSIONADORA O APORTANTE.</div>
    <div>
        <table>
            <tr>
                <td style="width: 50%;">Nombre o razón social de la empresa o aportante: {{empresa.razsoc}}</td>
                <td style="width: 50%;">Nit.: {{nit}}</td>
            </tr>
            <tr>
                <td>Sucursal: {{sucursal}}</td>
                <td>Teléfono: {{empresa.telefono}}</td>
            </tr>
        </table>
    </div>
</div>