<div class="header">
  <div class="logo-section">
    <img src="img/logo-min.png" alt="COMFACA Logo" style="width: 130px; height: 60px" />
  </div>
  <div class="contact-info">
    <strong>Carrera 11 No. 10-34 Barrio la Cooperativa</strong>
    Tel: 4366300 Ext.: 132 - 166 · Florencia - Caquetá<br />
    afiliaciones_pendientes@comfaca.com y aportes@comfaca.com
    <div class="version-info">Radicado: {{ruuid}}</div>
    <div class="version-info">Ciudad: {{ciudad_name}}</div>
  </div>

  <div class="resolution-box">
    <div class="form-label">Fecha de Recibido</div>
    <div class="resolution-fields">
      <div class="resolution-field">{{year}}</div>
      <div class="resolution-field">{{month}}</div>
      <div class="resolution-field">{{day}}</div>
    </div>
  </div>
</div>