{% from "macros/macros.html.j2" import field %}
{# Sección 1: Header #}
<div class="s1-header">
  <div class="s1-ref">
    V7<br>PM-SCS-FT-02<br>07-07-2022
  </div>

  <div class="s1-logo">
    <img src="{{ template_dir }}/img/logo-min.png" alt="Logo COMFACA" />
  </div>

  <div class="s1-titles">
    <div class="t1">CAJA DE COMPENSACIÓN FAMILIAR DEL CAQUETÁ</div>
    <div class="t2">"COMFACA"</div>
    <div class="t3">FORMULARIO DE SOLICITUD DE CRÉDITO</div>
    <div class="t4">LOS DATOS AQUÍ REGISTRADOS ESTÁN SUJETOS A VERIFICACIÓN</div>
    <div class="t5">Diligenciar completamente este formulario con lapicero negro sin tachones ni enmendaduras</div>
  </div>

  <div class="s1-radicado">
    FECHA RADICADO
    <div class="fecha">
      {{ encabezado.fecha_radicado|format_date if encabezado and encabezado.fecha_radicado else '' }}
    </div>
  </div>
</div>
