{% extends "layout/main.html.j2" %}
{% block title %}Formulario Adición Cónyuge - COMFACA{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="styles/adicion-conyuge.css" />
{% endblock %}
{% block content %}

{% include "conyuge/header.html.j2" %}

{% include "conyuge/datos-trabajador.html.j2" %}

{% include "conyuge/datos-conyuge.html.j2" %}

{% include "conyuge/info-bancaria.html.j2" %}

{% include "conyuge/declaracion.html.j2" %}

{% endblock %}