{% extends "layout/main.html.j2" %}
{% block title %}Formulario Adición Cónyuge - COMFACA{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="styles/adicion-conyuge.css" />
{% endblock %}
{% block content %}
<!-- Header -->
<div class="header">
  <div class="logo-section">
    <div class="logo-section">
      <img src="img/logo-min.png" alt="COMFACA Logo" style="width: 130px; height: 60px" />
    </div>
    <div class="header-info">
      <h1>CAJA DE COMPENSACIÓN FAMILIAR</h1>
      <h2>DEL CAQUETÁ COMFACA</h2>
      <p>NIT: 891190047</p>
      <p><strong>Sede Administrativa:</strong> Carrera 11 No. 10 -34</p>
      <p>
        <strong>Centro Múltiple De Servicios Comfaca:</strong> Transv. 6a.
        calle 12 av. Bruno del Piero
      </p>
      <p>
        <strong>Atención al Usuario:</strong>
        atencionalusuario@comfaca.com
      </p>
      <p>Tel: 6084366300 - www.comfaca.com</p>
    </div>
  </div>
  <div class="title-section">
    <div class="resolution-box">
      <div class="resolution-header">Radicado No.</div>
      <div class="text-radicado">{{ruuid}}</div>
      <div class="form-label">Fecha de radicado</div>
      <div class="resolution-fields">
        <div class="resolution-field">Año: {{year}}</div>
        <div class="resolution-field">Mes: {{month}}</div>
        <div class="resolution-field">Día: {{day}}</div>
      </div>
    </div>
  </div>
</div>

<!-- Importante -->
<div class="importante">
  <div class="checkbox-inline">
    <strong>IMPORTANTE:</strong>
    <span>Adición persona a cargo</span>
    <span>SI</span>
    <div class="small-checkbox active"></div>
    <span>NO</span>
    <div class="small-checkbox"></div>
  </div>
</div>

<!-- Datos del Trabajador Afiliado -->
<div class="section">
  <div class="section-header">
    DATOS DEL TRABAJADOR AFILIADO
    <span class="section-note">(Requerido para establecer relación trabajador - cónyuge)</span>
  </div>
  <table>
    <tr>
      <td class="label">No. Identificación</td>
      <td class="label">Tipo documento</td>
      <td class="label">Nombre trabajador</td>
      <td class="label">NIT- Empresa</td>
    </tr>
    <tr>
      <td>
        <div type="text">{{trabajador.cedtra}}</div>
      </td>
      <td>
        <div type="text">{{trabajador.tipo_documento}}</div>
      </td>
      <td>
        <div type="text">{{trabajador.nombre_trabajador}}</div>
      </td>
      <td>
        <div type="text">{{trabajador.nit}}</div>
      </td>
    </tr>
  </table>
</div>

<!-- Datos del Cónyuge -->
<div class="section">
  <div class="section-header">DATOS DEL CÓNYUGE O COMPAÑERO ACTUAL</div>
  <table>
    <tr>
      <td class="label">No. Identificación</td>
      <td class="label">Tipo documento</td>
      <td class="label">Celular</td>
      <td class="label">Correo electrónico</td>
    </tr>
    <tr>
      <td>
        <div class="text">{{cedcon}}</div>
      </td>
      <td>
        <div class="text">{{tipo_documento}}</div>
      </td>
      <td>
        <div class="text">{{telefono}}</div>
      </td>
      <td>
        <div class="text">{{email}}</div>
      </td>
    </tr>
    <tr>
      <td class="label">Primer apellido</td>
      <td class="label">Segundo apellido</td>
      <td class="label">Primer nombre</td>
      <td class="label">Segundo nombre</td>
    </tr>
    <tr>
      <td>
        <div class="text">{{priape}}</div>
      </td>
      <td>
        <div class="text">{{segape}}</div>
      </td>
      <td>
        <div class="text">{{prinom}}</div>
      </td>
      <td>
        <div class="text">{{segnom}}</div>
      </td>
    </tr>
    <tr>
      <td class="label" colspan="2">Dirección de residencia</td>
      <td class="label">Ciudad residencia</td>
      <td class="label">Urbana / Rural</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="text">{{direccion}}</div>
      </td>
      <td>
        <div class="text">{{ciudad_name}}</div>
      </td>
      <td>
        <div class="checkbox-group">
          <div class="checkbox-item">
            <span>Urbana</span>
            <div {% if zoneurbana=='S' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}>
            </div>
          </div>
          <div class="checkbox-item">
            <span>Rural</span>
            <div {% if zoneurbana=='N' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label" colspan="2">Pertenencia étnica</td>
      <td class="label">Resguardo</td>
      <td class="label">Pueblo indígena</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="text">{{etnica_name}}</div>
      </td>
      <td>
        <div class="text">{{resguardo_name}}</div>
      </td>
      <td>
        <div class="text">{{pueblo_name}}</div>
      </td>
    </tr>
    <tr>
      <td class="label">Tiene discapacidad</td>
      <td class="label">Tipo discapacidad</td>
      <td class="label">Sexo</td>
      <td class="label">Fecha nacimiento</td>
    </tr>
    <tr>
      <td>
        <div class="checkbox-group">
          <div class="checkbox-item">
            <span>SI</span>
            <div {% if tipdis and tipdis !="00" %} class="small-checkbox active" {% else %} class="small-checkbox" {%
              endif %}></div>
          </div>
          <div class="checkbox-item">
            <span>NO</span>
            <div {% if tipdis==None or tipdis=="00" %} class="small-checkbox active" {% else %} class="small-checkbox"
              {% endif %}></div>
          </div>
        </div>
      </td>
      <td>
        <div class="text">{{discapacidad_name}}</div>
      </td>
      <td>
        <div class="text">{{sexo_detalle}}</div>
      </td>
      <td>
        <div class="text">{{fecnac}}</div>
      </td>
    </tr>
    <tr>
      <td class="label" colspan="2">Nombre empresa donde trabaja</td>
      <td class="label">Ingresos mensuales</td>
      <td class="label">Recibe subsidio</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="text">{{empresa_labora}}</div>
      </td>
      <td>
        <div class="text">{{salario}}</div>
      </td>
      <td>
        <div class="checkbox-group">
          <div class="checkbox-item">
            <span>SI</span>
            <div {% if has_subsidio=='S' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}>
            </div>
          </div>
          <div class="checkbox-item">
            <span>NO</span>
            <div {% if has_subsidio !='S' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif
              %}></div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label" colspan="4">Ocupación</td>
    </tr>
    <tr>
      <td colspan="4">
        <div class="text">{{ocupacion}}</div>
      </td>
    </tr>
  </table>
</div>

<!-- Información Bancaria -->
<div class="section">
  <div class="section-header">
    INFORMACIÓN DAVIPLATA O CUENTA BANCARIA PARA PAGO DEL SUBSIDIO
    FAMILIAR
  </div>
  <div class="info-bancaria">
    <!-- Espacio para información bancaria -->
    {{info_bancaria}}
  </div>
</div>

<!-- Nota -->
<div class="nota">
  <strong>Nota:</strong> se deben adjuntar certificación del medio de pago con fecha de expedición no mayor a 30
  días, emitida por la entidad Bancaria o Daviplata App.
</div>

<!-- Declaración Jurada -->
<div class="declaracion">
  <strong>DECLARACIÓN JURADA:</strong> Declaramos que la información
  suministrada en el presente formulario es verdadera, cuenta con los
  soportes probatorios correspondientes y podrá ser verificada en
  cualquier momento por parte de la Caja de Compensación Familiar del
  Caquetá COMFACA, de conformidad con lo dispuesto en el artículo 37 de la
  ley 21 de 1982. En el evento que la información suministrada cambie, me
  comprometo a reportar modificación de los datos a más tardar el día 10
  del mes siguiente de ocurrida la novedad, de igual manera, autorizo a
  COMFACA, en caso de que cobre cuotas monetarias a las cuales no tenga
  derecho, me sean descontadas de los próximos pagos de la cuota monetaria
  de subsidio familiar a que hubiere lugar.
</div>

<!-- Autorización -->
<div class="declaracion">
  <strong>AUTORIZACIÓN PARA USO DE LA INFORMACIÓN:</strong> COMFACA es
  responsable del tratamiento de datos personales, y en tal virtud,
  recolectará, almacenará y usará su información personal de acuerdo con
  lo establecido en el formato de autorización PM-PSF-FT-10 que hemos
  puesto en su conocimiento de manera previa a la solicitud de
  diligenciamiento del presente documento.
</div>

<!-- Consentimiento -->
<div class="declaracion">
  Firmar o diligenciar la información requerida se entenderá como una
  conducta inequívoca de que usted como titular de los datos personales
  confirma conocer y haber diligenciado el formato de autorización
  PM-PSF-FT-10, torga su consentimiento a COMFACA para que trate su
  información personal de acuerdo con lo allí descrito y manifiesta que la
  presente autorización le fue solicitada y puesta de presente antes de
  entregar sus datos y que la suscribe de forma libre y voluntaria una vez
  leída en su totalidad.
  <div class="firma-section">
    <span>SI</span>
    <div class="small-checkbox active"></div>
    <span>NO</span>
    <div class="small-checkbox"></div>
  </div>
</div>
{% endblock %}