{% extends "layout/main.html.j2" %}
{% block title %}Formulario de Adición de Beneficiario - COMFACA{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="styles/adicion-beneficiario.css">
{% endblock %}
{% block content %}
<!-- Header -->
{% include "beneficiario/header.html.j2" %}

{% include "beneficiario/datos-trabajador.html.j2" %}

{% include "beneficiario/datos-biologicos.html.j2" %}

{% include "beneficiario/datos-persona-acago.html.j2" %}

{% include "beneficiario/info-bancaria.html.j2" %}

{% include "beneficiario/declaracion.html.j2" %}

{% endblock %}