{% extends "layout/main.html.j2" %}
{% block title %}Solicitud de Afiliación Empleador - COMFACA{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="styles/empresa.css" />
{% endblock %}
{% block content %}
{% include "empresas/header.html.j2" %}
{% include "empresas/datos-generales.html.j2" %}
{% include "empresas/representante.html.j2" %}
{% include "empresas/datos-contacto.html.j2" %}
{% include "empresas/declaracion.html.j2" %}
{% endblock %}