<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Autorización y Refrendación de Uso de Datos Personales - COMFACA
  </title>
  <style>
    @page {
      margin: 0in;
      background-image: url("membrete.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    @font-face {
      font-family: "fonts/lato-regular";
      src: url("fonts/lato-regular.ttf") format("truetype"),
        url("fonts/lato-regular.woff2") format("woff2");
      font-weight: normal;
      font-style: normal;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "fonts/lato-regular", sans-serif;
    }

    body {
      font-size: 9px;
      line-height: 1.2;
      margin: 0;
    }

    p {
      margin-bottom: 3px;
      text-align: justify;
      font-size: 9px;
      color: #333;
    }

    ol {
      margin: 8px 0 8px 20px;
      font-size: 8px;
      text-align: justify;
    }

    li {
      margin-bottom: 3px;
      color: #333;
    }

    ul {
      margin: 10px 0 10px 25px;
      list-style-type: disc;
      font-size: 8.5px;
    }

    ul li {
      margin-bottom: 3px;
      color: #333;
    }

    .container {
      margin: 0px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: transparent;
      padding: 18px;
    }

    .sello-section {
      position: absolute;
      bottom: 18px;
      right: 80px;
    }

    .header {
      width: 100%;
      padding-bottom: 0px;
      border-bottom: 3px solid #4a9d5f;
      margin-bottom: 10px;
      position: relative;
    }

    .header::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      height: 3px;
      background: linear-gradient(to right,
          #4a9d5f 0%,
          #009e47 50%,
          #00c3ff 100%);
      border-radius: 0 0 50% 50%;
    }

    .underline {
      border-bottom: 1px solid #444;
    }

    .text-center {
      text-align: center;
    }

    .table-border-0 {
      width: 100%;
      border: none;
    }

    .title-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 9px 0;
    }

    .resolution-box {
      border: 1px solid #777;
      padding: 5px;
      width: 160px;
    }

    .resolution-header {
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid #777;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }

    .text-radicado {
      font-size: 9px;
      font-weight: bold;
      margin-top: 4px;
      margin-bottom: 4px;
      color: #3f4e46;
    }

    .form-label {
      font-size: 8px;
      font-weight: bold;
      margin-bottom: 2px;
      color: #444;
    }

    .resolution-fields {
      display: flex;
      gap: 5px;
    }

    .resolution-field {
      flex: 1;
      border: 1px solid #777;
      padding: 10px 5px;
      text-align: center;
      font-size: 9px;
    }

    .contact-section {
      background-color: #f9f9f9;
      padding: 5px;
      margin-top: 5px;
      margin-left: 20px;
      border-left: 4px solid #006b4f;
      font-size: 9px;
    }

    .contact-section ul {
      margin-left: 20px;
    }

    .declaration {
      background-color: #f0f0f0;
      padding: 10px;
      margin-top: 5px;
      margin-left: 20px;
      border-radius: 4px;
      font-size: 9px;
      text-align: justify;
      color: #333;
    }

    .section-title {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 20px;
      color: #333;
      font-size: 9px;
    }

    .rights-section {
      margin-left: 20px;
      margin-right: 20px;
    }

    .rights-section ul {
      margin-left: 30px;
    }

    .rights-section li {
      margin-bottom: 6px;
    }

    .form-table {
      margin: auto;
      width: 450px;
      border-collapse: collapse;
      margin-top: 5px;
    }

    .form-table td {
      padding: 4px;
      vertical-align: top;
      font-size: 8px;
    }

    .form-table .label {
      font-weight: bold;
      white-space: nowrap;
      width: 25%;
    }

    .intro-text {
      text-align: justify;
      margin-bottom: 20px;
      margin-left: 40px;
      margin-right: 40px;
      font-size: 9px;
    }

    .intro-text strong {
      font-weight: bold;
    }

    .purposes-list {
      margin: 0px;
      margin-left: 40px;
      padding-left: 10px;
    }

    .purposes-list li {
      font-size: 8.5px;
      margin-bottom: 3px;
      text-align: justify;
    }

    .rights-list {
      margin: 15px 0;
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 25px;
    }

    .rights-list li {
      font-size: 8px;
      margin-bottom: 10px;
      text-align: justify;
    }

    .rights-list li strong {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="container">
    <!-- Page 1 -->
    <div class="header">
      <table class="table-border-0">
        <tr>
          <td style="width: 20%">
            <div class="logo-section">
              <img src="img/logo-min.png" alt="COMFACA Logo" style="width: 130px; height: 60px" />
            </div>
          </td>
          <td style="width: 60%">
            <div class="header-info">
              <h3 class="text-center">
                PROCEDO SUBSIDIO FAMILIAR <br />
                AUTORIZACIÓN Y REFRENDACIÓN DE USO DE DATOS PERSONALES
              </h3>
              <br />
              <p>NIT: 891190047</p>
              <p>
                <strong>Sede Administrativa:</strong> Carrera 11 No. 10 -34
              </p>
              <p>
                <strong>Centro Múltiple De Servicios Comfaca:</strong> Transv.
                6a. calle 12 av. Bruno del Piero
              </p>
              <p>
                <strong>Atención al Usuario:</strong>
                atencionalusuario@comfaca.com
              </p>
              <p>Tel: 6084366300 - www.comfaca.com</p>
            </div>
          </td>
          <td style="width: 20%">
            <div class="title-section">
              <div class="resolution-box">
                <div class="resolution-header">Radicado No.</div>
                <div class="text-radicado">{{ruuid}}</div>
                <div class="form-label">Fecha de radicado</div>
                <div class="resolution-fields">
                  <div class="resolution-field">{{year}}</div>
                  <div class="resolution-field">{{month}}</div>
                  <div class="resolution-field">{{day}}</div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="intro-text">
      La Caja de Compensación Familiar del Caquetá (COMFACA), identificada con
      Nit 891.190.047-2, es la entidad responsable del tratamiento de los
      datos personales que recolecta, almacena y utiliza en desarrollo de su
      objeto social. COMFACA recolectará, almacenará y usará su información
      personal para las siguientes finalidades:
    </div>

    <ol class="purposes-list">
      <li>
        Adelantar la administración de Sistemas de Información, gestión de
        claves, administración de usuarios o similares.
      </li>
      <li>Realizar actividades de gestión administrativa.</li>
      <li>
        Remitir o enviar información relacionada con el objeto social de la
        organización.
      </li>
      <li>
        Registro en aplicativos y formularios de entidades y organismos
        estatales por requerimiento legal.
      </li>
      <li>Adelantar el ofrecimiento de productos y servicios.</li>
      <li>
        Adelantar comunicaciones a distancia para la venta de productos o
        servicios.
      </li>
      <li>
        Enviar y compartir publicidad propia o de terceros con quienes se
        hayan celebrado alianzas comerciales, convenios o contratos
        interinstitucionales o de colaboración.
      </li>
      <li>Realizar prospección comercial.</li>
      <li>Realizar encuestas de opinión.</li>
      <li>Realizar análisis de perfiles.</li>
      <li>Realizar actividades de marketing tradicional o digital.</li>
      <li>Realizar el envío de comunicaciones a nivel general.</li>
      <li>
        Adelantar comunicaciones o contacto vía correo electrónico, mensaje de
        texto (SMS), teléfono u otro medio.
      </li>
      <li>Realizar la verificación de datos y referencias.</li>
      <li>Atender requerimientos de autoridad judicial o administrativa.</li>
      <li>Cumplir con los deberes económicos y contables.</li>
      <li>Realizar actividades de cobro y pago.</li>
      <li>Realizar la gestión de afiliados.</li>
      <li>Realizar la verificación de cumplimientos legales o normativos.</li>
      <li>Realizar la formalización de ajustes o acuerdos de pago.</li>
      <li>
        Cumplir con los requisitos legales para la prevención del lavado de
        activos, financiación del terrorismo y la proliferación de armas de
        destrucción masiva.
      </li>
      <li>
        Adelantar campañas de actualización de datos e información de cambios
        en el tratamiento de datos personales.
      </li>
      <li>Adelantar procedimientos administrativos.</li>
      <li>Generar estadísticas internas.</li>
      <li>Mantener un registro histórico, científico o estadístico.</li>
      <li>Realizar actividades de fidelización.</li>
      <li>Cumplir con la atención de derechos de los ciudadanos.</li>
    </ol>

    <div class="section-title">Derechos del Titular de Datos</div>
    <div class="rights-section">
      <p>
        <strong>Como titular de sus datos personales, usted tiene derecho
          a:</strong>
      </p>
      <ul>
        <li>
          <strong>(i) Acceder:</strong> Consultar de forma gratuita los datos
          proporcionados que hayan sido objeto de tratamiento.
        </li>
        <li>
          <strong>(ii) Conocer, Actualizar y Rectificar:</strong> Solicitar la
          corrección o actualización de su información frente a datos
          parciales, inexactos, incompletos, fraccionados, que induzcan a
          error, o aquellos cuyo tratamiento esté prohibido o no haya sido
          autorizado.
        </li>
        <li>
          <strong>(iii) Solicitar Prueba de Autorización:</strong> Requerir
          una copia de la autorización otorgada para el tratamiento de sus
          datos.
        </li>
        <li>
          <strong>(iv) Presentar Quejas:</strong> Interponer quejas ante la
          Superintendencia de Industria y Comercio (SIC) por infracciones a la
          normatividad vigente.
        </li>
        <li>
          <strong>(v) Revocar la Autorización y/o Solicitar la Supresión:</strong>
          Pedir la eliminación de sus datos o revocar la autorización, siempre
          que no exista un deber legal o contractual que impida su supresión.
        </li>
        <li>
          <strong>(vi) Abstenerse de Responder:</strong> No contestar
          preguntas sobre datos sensibles.
        </li>
      </ul>
    </div>

    <div class="contact-section">
      <p>
        <strong>
          Puede ejercer sus derechos como titular de los datos siguiendo el
          procedimiento descrito en nuestra política. Para consultarla o
          iniciar un requerimiento, puede utilizar los siguientes
          canales:</strong>
      </p>
      <ul>
        <li>
          <strong>Correo Electrónico:</strong> atencionalusuario@comfaca.com
        </li>
        <li>
          <strong>Página Web:</strong> Ingresando a http://www.comfaca.com en
          el enlace de Atención al Usuario - PQR.
        </li>
      </ul>
    </div>

    <div class="declaration">
      <p>
        Al firmar o diligenciar la información requerida, usted, como titular
        de los datos personales, manifiesta a través de una conducta
        inequívoca que otorga su consentimiento a COMFACA para que trate su
        información personal de acuerdo con las finalidades mencionadas en
        esta política.
      </p>
      <p>
        Asimismo, declara que la presente autorización le fue solicitada y
        puesta de presente antes de entregar sus datos y que la suscribe de
        forma libre y voluntaria una vez leída en su totalidad.
      </p>
    </div>

    <!-- Form Section -->
    <table class="form-table" style="margin-top: 15px">
      <tbody>
        <tr>
          <td style="width: 25%">
            <div class="label">RAZÓN SOCIAL:</div>
          </td>
          <td colspan="3" class="underline">
            <div class="text">{{razsoc}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">TIPO DOCUMENTO EMPRESA:</div>
          </td>
          <td style="width: 20%" class="underline">
            <div class="text">{{tipo_documento}}</div>
          </td>
          <td style="width: 20%">
            <div class="label">NÚMERO DOCUMENTO:</div>
          </td>
          <td class="underline">
            <div class="text">{{nit}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">NOMBRES Y APELLIDOS REPRESENTANTE:</div>
          </td>
          <td colspan="3" class="underline">
            <div class="text">{{representante.nombre}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">TIPO DOCUMENTO R.L.:</div>
          </td>
          <td class="underline">
            <div class="text">{{representante.tipo_documento}}</div>
          </td>
          <td>
            <div class="label">NÚMERO DOCUMENTO R.L.:</div>
          </td>
          <td class="underline">
            <div class="text">{{representante.cedula}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">CIUDAD:</div>
          </td>
          <td class="underline">
            <div class="text">{{ciudad_name}}</div>
          </td>
          <td>
            <div class="label">FECHA, DILIGENCIAMIENTO:</div>
          </td>
          <td class="underline">
            <div class="text">{{fecsol}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">DIRECCIÓN LABORAL:</div>
          </td>
          <td colspan="3" class="underline">
            <div class="text">{{direccion}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">TELÉFONO FIJO:</div>
          </td>
          <td class="underline">
            <div class="text">{{telefono}}</div>
          </td>
          <td>
            <div class="label">CELULAR:</div>
          </td>
          <td class="underline">
            <div class="text">{{celpri}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">CORREO ELECTRÓNICO:</div>
          </td>
          <td colspan="3" class="underline">
            <div class="text">{{email}}</div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="sello-section">
      <img src="img/sello.png" alt="Sello" style="width: 120px; height: 90px" />
    </div>
  </div>
</body>

</html>