{% extends "layout/main.html.j2" %}
{% block title %}Autorización y Refrendación de Uso de Datos Personales - COMFACA{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="styles/politica-trabajador.css" />
{% endblock %}
{% block content %}
    <div class="header">
      <table class="table-border-0">
        <tr>
          <td style="width: 20%">
            <div class="logo-section">
              <img src="img/logo-min.png" alt="COMFACA Logo" style="width: 130px; height: 60px" />
            </div>
          </td>
          <td style="width: 60%">
            <h3 class="text-center">
              PROCESO SUBSIDIO FAMILIAR <br />
              AUTORIZACIÓN Y REFRENDACIÓN DE USO DE DATOS PERSONALES
            </h3>
            <br />
            <p>NIT: 891190047</p>
            <p><strong>Sede Administrativa:</strong> Carrera 11 No. 10 -34</p>
            <p>
              <strong>Centro Múltiple De Servicios Comfaca:</strong> Transv.
              6a. calle 12 av. Bruno del Piero
            </p>
            <p>
              <strong>Atención al Usuario:</strong>
              atencionalusuario@comfaca.com
            </p>
            <p>Tel: 6084366300 - www.comfaca.com</p>
            <p>Código: PM-PSF-FT-10</p>
          </td>
          <td style="width: 20%">
            <div class="title-section">
              <div class="resolution-box">
                <div class="resolution-header">Radicado No.</div>
                <div class="text-radicado">{{ruuid}}</div>
                <div class="form-label">Fecha de radicado</div>
                <div class="resolution-fields">
                  <div class="resolution-field">{{year}}</div>
                  <div class="resolution-field">{{month}}</div>
                  <div class="resolution-field">{{day}}</div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <p>
      COMFACA, identificado con Nit 891.190.047-2 es responsable del tratamiento de datos
      personales, y en tal virtud, recolectará, almacenará y usará su información personal para las
      siguientes finalidades:
    </p>

    <ol>
      <li>Cumplir con la atención de derechos de los ciudadanos.</li>
      <li>Realizar actividades de fidelización.</li>
      <li>Generar estadísticas internas.</li>
      <li>Adelantar procedimientos administrativos.</li>
      <li>Adelantar campañas de actualización de datos e información de cambios en el tratamiento de datos personales.</li>
      <li>Gestionar actividades de capacitación y préstamo de recursos.</li>
      <li>Cumplir con los requisitos legales para la prevención del lavado de activos y financiación del terrorismo.</li>
      <li>Realizar la verificación de cumplimientos legales o normativos.</li>
      <li>Realizar la gestión de afiliados.</li>
      <li>Cumplir con los deberes económicos y contables.</li>
      <li>Atender requerimientos de autoridad judicial o administrativa.</li>
      <li>Realizar la verificación de datos y referencias.</li>
      <li>Adelantar comunicaciones o contacto vía correo electrónico, mensaje de texto (SMS), teléfono u otro medio.</li>
      <li>Realizar el envío de comunicaciones a nivel general.</li>
      <li>Realizar actividades de marketing tradicional o digital.</li>
      <li>Realizar análisis de perfiles.</li>
      <li>Realizar encuestas de opinión.</li>
      <li>Enviar y compartir publicidad propia o de terceros con quienes se hayan celebrado alianzas comerciales, convenios y o contratos interinstitucionales o de colaboración.</li>
      <li>Adelantar el ofrecimiento productos y servicios.</li>
      <li>Registro en aplicativos y formularios de entidades y organismos estatales por requerimiento legal.</li>
      <li>Remitir o enviar información relacionada con el objeto social de la organización.</li>
      <li>Realizar actividades de gestión administrativa.</li>
      <li>Adelantar la administración de sistemas de información, gestión de claves, administración de usuarios o similares.</li>
    </ol>

    <!-- Datos Sensibles -->
    <div class="sensitive-data">
      <p>
        Para el desarrollo de las actividades o servicios requeridos datos de (1) Origen étnico o racial;
        (2) Orientación sexual; (3) Datos de salud, estos datos de acuerdo con la Ley se consideran
        sensibles puesto que pueden llegar a afectar su intimidad o cuyo uso indebido puede generar
        discriminación, al requerir la recolección de esta información usted tiene el derecho a contestar
        o no las preguntas que se le formulan y a entregar o no los datos solicitados.
      </p>
    </div>

    <!-- Derechos del Titular -->
    <div class="section-title">Derechos del Titular de Datos</div>
    <div class="rights-section">
      <p>
        <strong>Como titular de sus datos personales usted tiene derecho a:</strong>
      </p>
      <ul>
        <li>
          <strong>(i) Acceder en forma gratuita a los datos proporcionados que hayan sido objeto de tratamiento.</strong>
        </li>
        <li>
          <strong>(ii) Conocer, actualizar y rectificar</strong> su información frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o a aquellos cuyo tratamiento esté prohibido o no haya sido autorizado.
        </li>
        <li>
          <strong>(iii) Solicitar prueba de la autorización otorgada.</strong>
        </li>
        <li>
          <strong>(iv) Presentar ante la Superintendencia de Industria y Comercio (SIC) quejas por infracciones a lo dispuesto en la normatividad vigente.</strong>
        </li>
        <li>
          <strong>(v) Revocar la autorización y/o solicitar la supresión del dato,</strong> siempre que no exista un deber legal o contractual que impida eliminarlos.
        </li>
        <li>
          <strong>(vi) Abstenerse de responder las preguntas sobre datos sensibles.</strong>
        </li>
      </ul>
    </div>

    <!-- Canales de Contacto -->
    <div class="contact-section">
      <p>
        <strong>Puede ejercer sus derechos siguiendo el procedimiento descrito en nuestra política,
          la cual puede consultar escribiéndonos un correo electrónico a
          atencionalusuario@comfaca.com o ingresando a nuestra página web http://www.comfaca.com
          en el enlace de atención al usuario – PQR.</strong>
      </p>
    </div>

    <!-- Declaración de Consentimiento -->
    <div class="declaration">
      <p>
        Firmar o diligenciar la información requerida se entenderá como una conducta inequívoca de
        que usted como titular de los datos personales otorga su consentimiento a COMFACA para que
        trate su información personal de acuerdo con las finalidades mencionadas anteriormente y
        manifiesta que la presente autorización le fue solicitada y puesta de presente antes de entregar
        sus datos y que la suscribe de forma libre y voluntaria una vez leída en su totalidad.
      </p>
    </div>

    <table class="form-table">
      <tbody>
        <tr>
          <td class="label">NOMBRES Y APELLIDOS:</td>
          <td class="underline" colspan="3">
            <div class="text">{{nombre_trabajador}}</div>
          </td>
        </tr>
        <tr>
          <td class="label">TIPO DOCUMENTO:</td>
          <td class="underline">
            <div class="text">{{tipo_documento}}</div>
          </td>
          <td class="label">NÚMERO DOCUMENTO:</td>
          <td class="underline">
            <div class="text">{{cedtra}}</div>
          </td>
        </tr>
        <tr>
          <td class="label">CIUDAD:</td>
          <td class="underline">
            <div class="text">{{ciudad_name}}</div>
          </td>
          <td class="label">FECHA DE DILIGENCIAMIENTO:</td>
          <td class="underline">
            <div class="text">{{fecsol}}</div>
          </td>
        </tr>
        <tr>
          <td class="label">DIRECCIÓN DE RESIDENCIA:</td>
          <td class="underline" colspan="3">
            <div class="text">{{direccion}}</div>
          </td>
        </tr>
        <tr>
          <td class="label">TELÉFONO FIJO:</td>
          <td class="underline">
            <div class="text">{{telefono}}</div>
          </td>
          <td class="label">CELULAR:</td>
          <td class="underline">
            <div class="text">{{celular}}</div>
          </td>
        </tr>
        <tr>
          <td class="label">CORREO ELECTRÓNICO:</td>
          <td class="underline" colspan="3">
            <div class="text">{{email}}</div>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}