<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Afiliación de Trabajadores - COMFACA</title>
    <style>
        @page {
            margin: 0in;
            background-image: url('membrete.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        @font-face {
            font-family: 'lato-regular';
            src: url('lato-regular.ttf') format('truetype'),
                url('lato-regular.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'lato-regular', sans-serif;
        }

        body {
            font-size: 8px;
            line-height: 1.2;
            margin: 0;
        }

        .d-flex {
            display: flex;
        } 

        .flex-wrap {
            flex-wrap: wrap;
        }
        
        .border-t {
            border-top: 0px;
        }

        .text-radicado {
            margin-left: 5px;
            color: #3f4e46;
        }

        .container {
            margin: 0 auto;
            background-color: transparent;
            padding: 25px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
        }

        .header-left {
            display: flex;
        }

        .logo-section {
            width: 250px;
        }

        .header-info {
            padding-top: 5px;
            font-size: 8px;
            line-height: 1.4;
        }

        .header-info strong {
            display: block;
            font-size: 9px;
        }

        .header-right {
            text-align: center;
        }

        .header-right h1 {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .tipo-afiliado-table {
            width: 100%;
            border-collapse: collapse;
            font-size: 7px;
            margin-top: 5px;
        }

        .tipo-afiliado-table th,
        .tipo-afiliado-table td {
            border: 1px solid #000;
            padding: 2px 4px;
            text-align: center;
        }

        .tipo-afiliado-table th {
            font-weight: bold;
        }

        .tipo-afiliado-table td.text-left {
            text-align: left;
        }

        .importante {
            padding: 5px;
            margin: 10px 0;
            border: 1px solid #ccc;
            font-size: 8px;
        }

        .section {
            margin: 3px 0;
        }

        .section-title {
            background-color: #2b914d;
            color: #fff;
            padding: 2px 3px;
            font-weight: bold;
            font-size: 7px;
            margin-bottom: 0px;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
        }

        .section-content {
            padding: 2px;
            border: 1px solid #000;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 0px;
        }

        table td,
        table th {
            border: 1px solid #000;
            padding: 3px;
            font-size: 7px;
        }

        table th {
            font-weight: bold;
            text-align: left;
        }

        table th.label,
        table td.label {
            background: #f5f5f5;
            color: #000;
        }

        .table-anidada {
            width: 100%;
            border-collapse: collapse;
        }

        .table-anidada td {
            border: 1px solid #dadada;
            padding: 5px;
        }

        .input-field {
            width: 100%;
            border: none;
            border-bottom: 1px solid #000;
            padding: 2px;
            font-size: 7px;
        }

        .checkbox-group {
            display: flex;
            gap: 8px;
            align-items: center;
            flex-wrap: wrap;
        }

        .checkbox-item {
            display: flex;
            align-items: center;
            gap: 3px;
        }

        .checkbox {
            width: 8px;
            height: 8px;
            border: 1px solid #000;
            display: inline-block;
            position: relative;
            top:1px;
        }

        .inline-checkbox {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .three-column {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 6px;
        }

        .two-column {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 6px;
        }

        .list-section {
            margin: 5px 0;
        }

        .list-section table {
            font-size: 7px;
        }

        .list-section td {
            padding: 2px 4px;
        }

        .list-item {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 2px 3px;
        }

        .small-checkbox {
            width: 10px;
            height: 10px;
            border: 1px solid #7a7a7a;
            display: inline-block;
            border-radius: 5px;
        }

        .small-checkbox.active{
            background-color: #7a7a7a;
        }

        .declaracion {
            margin: 1px 0;
            padding: 3px;
            border: 1px solid #444;
            font-size: 7px;
            line-height: 1.5;
            text-align: justify;
        }

        .declaracion strong {
            font-size: 8px;
        }

        .nota {
            padding: 5px;
            margin: 5px 0;
            font-size: 7px;
            font-weight: bold;
        }

        @media print {
            body {
                padding: 0;
            }
            .container {
                border: none;
            }
            thead { display: table-header-group; }
            tfoot { display: table-footer-group; }
            tr { page-break-inside: avoid; }
            .section { page-break-inside: avoid; }
        }

        /* Estilos visuales para encabezados cuando no hay thead explícito */
        table tr:first-child th {
            background: #f0f0f0;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div class="header">
            <div class="header-left">
                <div class="logo-section">
                    <div class="w-100"><img src="logo-min.png" alt="COMFACA Logo" style="width: 130px; height: 60px;"></div>
                    <strong>Sede Administrativa:</strong> Carrera 11 No. 10 - 34<br>
                    <strong>Centro Múltiple de Servicio Comfaca:</strong> Tranev. 6a. calle 12 av. Bruno del Piero<br>
                    <strong>Atención al Usuario:</strong> atencionalusuario@comfaca.com<br>
                    <strong>Tel:</strong> 6086366300 - www.comfaca.com
                    <div class="importante">
                        <strong>IMPORTANTE:</strong> Marque con <span class="small-checkbox active" style="position: relative;top:1px;"></span> según el tipo de novedad. Inscripción del trabajador
                    </div>
                </div>
                <div class="header-info">
                    <strong>CAJA DE COMPENSACIÓN FAMILIAR<br>DEL CAQUETÁ COMFACA</strong>
                    NIT 891.200.050-1<br>
                </div>
            </div>
            <div class="header-right">
                <h1>FORMULARIO DE AFILIACIÓN DE TRABAJADORES</h1>
                <div class="d-flex">
                    <div class="resolution-header">Radicado No.</div>
                    <div class="text-radicado">{{ruuid}} </div>
                </div>
                <table class="tipo-afiliado-table">
                    <thead>
                        <tr>
                            <th colspan="9">TIPO DE AFILIADO</th>
                        </tr>
                        <tr>
                            <th colspan="2">DEPENDIENTE</th>
                            <th>INDEPENDIENTE</th>
                            <th colspan="2"><small>Indice de Aportes</small><br/> 0.6% - 2%</th>
                            <th>PENSIONADO</th>
                            <th colspan="3"><small>Indice de Aportes</small><br/>0.0% - 0.6% - 2%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Servicio Doméstico</td>
                            <td><span {% if tipafi == '2' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span></td>
                            <td class="text-left">Taxista</td>
                            <td><span {% if tipafi == '68' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </td>
                            <td><span class="small-checkbox"></span> </td>
                            <td>Fidelidad 25 Años</td>
                            <td><span {% if tipafi == '66' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span></td>
                            <td><span class="small-checkbox"></span></td>
                            <td><span class="small-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="text-left">Madre Comunitaria</td>
                            <td><span {% if tipafi == '4' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span></td>
                            <td class="text-left">Facultativos</td>
                            <td><span {% if tipafi == '63' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span></td>
                            <td><span class="small-checkbox"></span></td>
                            <td>Menos de 1,5 SMMLV</td>
                            <td><span {% if tipafi == '67' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span></td>
                            <td><span class="small-checkbox"></span></td>
                            <td><span class="small-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="text-left">Veteranos</td>
                            <td><span class="small-checkbox"></span></td>
                            <td class="text-left">Colombiano en el exterior</td>
                            <td><span {% if tipafi == '69' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </td>
                            <td><span class="small-checkbox"></span></td>
                            <td>Más de 1,5 SMMLV</td>
                            <td><span class="small-checkbox"></span></td>
                            <td><span {% if tipafi == '64' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span></td>
                            <td><span {% if tipafi == '10' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span></td>
                        </tr>
                        <tr>
                            <td class="text-left">Trabajador Dependiente</td>
                            <td><span {% if tipafi == '1' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span></td>
                            <td class="text-left">Trab. Independiente</td>
                            <td><span {% if tipafi == '65' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </td>
                            <td><span {% if tipafi == '3' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </td>
                            <td colspan="4"></td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tr>
                        <td class="border-t label" style="width: 100px;">
                            <div class="text">Fecha de radicado:</div>
                        </td>
                        <td class="border-t">
                             <table class="table-anidada" style="width: 100px;">
                                <tr>
                                    <td><div class="text"><small>{{year}}</small></div></td>
                                    <td><div class="text"><small>{{month}}</small></div></td>
                                    <td><div class="text"><small>{{day}}</small></div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="section">
            <div class="section-title">1. DATOS DEL EMPLEADOR, ENTIDAD PENSIONADORA O APORTANTE.</div>
            <div>
                <table>
                    <tr>
                        <td style="width: 50%;">Nombre o razón social de la empresa o aportante: {{empresa.razsoc}}</td>
                        <td style="width: 50%;">Nit.: {{nit}}</td>
                    </tr>
                    <tr>
                        <td>Sucursal: {{sucursal}}</td>
                        <td>Teléfono: {{empresa.telefono}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Sección 2: Datos del Trabajador -->
        <div class="section">
            <div class="section-title">2. DATOS DEL TRABAJADOR</div>
            <table>
                <tr>
                    <td style="width: 20%;">No. Identificación: {{cedtra}}</td>
                    <td style="width: 30%;">
                        <div class="d-flex">
                            <table class="table-anidada">
                                <tr>
                                    <td>
                                        <div class="list-item">
                                            <span {% if tipdoc == '1' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                                            <span>C.C.</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item">
                                            <span {% if tipdoc == '2' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                                            <span>T.I.</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item">
                                            <span {% if tipdoc == '4' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                                            <span>C.E.</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item">
                                            <span {% if tipdoc == '13' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                                            <span>VISA</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item">
                                            <span {% if tipdoc == '6' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                                            <span>PAS.</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item">
                                            <span {% if tipdoc == '8' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                                            <span>P.E.P.</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item">
                                            <span {% if tipdoc == '11' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                                            <span>C.D.</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="width: 40%;">Correo Electrónico: {{email}}</td>
                    <td style="width: 10%;">Celular: {{celular}}</td>
                </tr>
            </table>
            <table>
                <thead>
                    <tr>
                        <td class="label border-t">Primer Apellido</td>
                        <td class="label border-t">Segundo Apellido</td>
                        <td class="label border-t">Primer Nombre</td>
                        <td class="label border-t">Segundo Nombre</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="text">{{priape}}</div></td>
                        <td><div class="text">{{segape}}</div></td>
                        <td><div class="text">{{prinom}}</div></td>
                        <td><div class="text">{{segnom}}</div></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th class="label border-t">Fecha de Nacimiento</th>
                        <th class="label border-t">Sexo</th>
                        <th class="label border-t">Estado Civil</th>
                        <th class="label border-t">ZONA RESIDENCIA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 10%">
                            <table class="table-anidada">
                                <tr>
                                    <td><div class="text"><small>{{fecnac_year}}</small></div></td>
                                    <td><div class="text"><small>{{fecnac_month}}</small></div></td>
                                    <td><div class="text"><small>{{fecnac_day}}</small></div></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 20%;">
                            <table class="table-anidada">
                                <tr>
                                    <td><div class="inline-checkbox"><label>H</label> <span {% if sexo == 'H' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                    <td><div class="inline-checkbox"><label>M</label> <span {% if sexo == 'M' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                    <td><div class="inline-checkbox"><label>I</label> <span {% if sexo == 'I' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 40%">
                            <table class="table-anidada">
                                <tr>
                                    <td><div class="inline-checkbox"><label>UL</label> <span {% if estciv == 'UL' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                    <td><div class="inline-checkbox"><label>CAS</label> <span {% if estciv == 'CAS' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                    <td><div class="inline-checkbox"><label>DIV</label> <span {% if estciv == 'DIV' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                    <td><div class="inline-checkbox"><label>SEP</label> <span {% if estciv == 'SEP' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                    <td><div class="inline-checkbox"><label>VIU</label> <span {% if estciv == 'VIU' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                    <td><div class="inline-checkbox"><label>SOL</label> <span {% if estciv == 'SOL' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                </tr>
                            </table>  
                        </td>
                        <td style="width: 20%">
                            <table class="table-anidada">
                                <tr>
                                    <td><div class="inline-checkbox"><label>U</label> <span {% if rural == 'N' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                    <td><div class="inline-checkbox"><label>R</label> <span {% if rural == 'S' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> </div> </td>
                                </tr>
                            </table>
                        </td>                    
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td class="label border-t">Dirección de residencia del trabajador</td>
                        <td class="label border-t">Barrio</td>
                        <td class="label border-t">Ciudad</td>
                    </tr>
                    <tr>
                        <td>{{direccion}}</td>
                        <td>{{barrio}}</td>
                        <td>{{codciu}}</td>
                    </tr>
                </tbody>
            </table>
             <table>
                <tbody>
                    <tr>
                        <td class="label border-t">Resguardo</td>
                        <td class="border-t" style="height: 20px;">{{resguardo}}</td>
                        <td class="label border-t">Pueblo Indígena</td>
                        <td class="border-t">{{pueblo_indigena}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="three-column">
            <!-- Sección 3: Factor de Vulnerabilidad -->
            <div class="section">
                <div class="section-title">3. FACTOR DE VULNERABILIDAD</div>
                <div class="section-content">
                    <div class="list-item">
                        <span {% if facvul == '1' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Desplazado</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '2' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Víctima conflicto armado (No desplazado)</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '10' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Desmovilizado o Reinsertado</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '4' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Hijo(as) de desmovilizados o Reinsertados</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '5' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Damnificado desastre natural</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '6' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Cabeza de familia</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '7' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Hijo (as) de madres cabeza de familia</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '8' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>En condición de discapacidad</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '9' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Población migrante</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '10' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Población Zona frontera (Nacionales)</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul == '11' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Ejercicio de trabajo sexual</span>
                    </div>
                    <div class="list-item">
                        <span {% if facvul is None or facvul == '' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>No aplica</span>
                    </div>
                </div>
            </div>

            <!-- Sección 4: Pertenencia Étnica -->
            <div class="section">
                <div class="section-title">4. PERTENENCIA ÉTNICA</div>
                <div class="section-content">
                    <div class="list-item">
                        <span {% if peretn == '1' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Afrocolombiano</span>
                    </div>
                    <div class="list-item">
                        <span {% if peretn == '2' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Comunidad Negra</span>
                    </div>
                    <div class="list-item">
                        <span {% if peretn == '3' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Indígena</span>
                    </div>
                    <div class="list-item">
                        <span {% if peretn == '4' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Palenquero</span>
                    </div>
                    <div class="list-item">
                        <span {% if peretn == '5' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Raizal Del Archipiélago De San Andrés</span>
                    </div>
                    <div class="list-item">
                        <span {% if peretn == '6' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Room/gitano</span>
                    </div>
                    <div class="list-item">
                        <span {% if peretn is None or peretn == '' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>No Disponible</span>
                    </div>
                    <div class="list-item">
                        <span {% if peretn == '7' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>No se auto reconoce en ninguno de los anteriores</span>
                    </div>
                </div>
            </div>

            <!-- Sección 5: Nivel de Escolaridad -->
            <div class="section">
                <div class="section-title">5. NIVEL DE ESCOLARIDAD</div>
                <div class="section-content">
                    <div class="list-item">
                        <span {% if nivedu == '1' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Preescolar</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '2' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Básica</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '3' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Secundaria</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '4' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Media</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '5' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Básica Adultos</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '6' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Secundaria Adultos</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '7' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Media Adultos</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '8' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Técnico Profesional</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '9' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Profesional Universitario</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '10' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Posgrado/Maestría</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '11' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Sin estudios Formales</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '12' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Secundaria Normalista</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '13' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Tecnólogo</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '14' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Ninguno</span>
                    </div>
                    <div class="list-item">
                        <span {% if nivedu == '15' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Primera Infancia</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Secciones 6 y 7 en dos columnas -->
        <div class="two-column">
            <!-- Sección 6: Orientación Sexual -->
            <div class="section">
                <div class="section-title">6. ORIENTACIÓN SEXUAL</div>
                <div class="section-content d-flex">
                    <div class="list-item">
                        <span {% if orisex == '1' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Heterosexual</span>
                    </div>
                    <div class="list-item">
                        <span {% if orisex == '2' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Homosexual</span>
                    </div>
                    <div class="list-item">
                        <span {% if orisex == '3' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Bisexual</span>
                    </div>
                    <div class="list-item">
                        <span {% if orisex == '4' or orisex == '' or orisex is None %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>No Disponible</span>
                    </div>
                </div>
            </div>

            <!-- Sección 7: Tipo de Vivienda -->
            <div class="section">
                <div class="section-title">7. TIPO DE VIVIENDA</div>
                <div class="section-content d-flex">
                    <div class="list-item">
                        <span {% if vivienda == 'P' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Propia</span>
                    </div>
                    <div class="list-item">
                        <span {% if vivienda == 'A' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Arrendada</span>
                    </div>
                    <div class="list-item">
                        <span {% if vivienda == 'F' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Familiar</span>
                    </div>
                    <div class="list-item">
                        <span {% if vivienda == 'H' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span>
                        <span>Hipoteca</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección 8: Discapacidad -->
        <div class="section">
            <div class="section-title">8. PRESENTA ALGUNA DISCAPACIDAD?</div>
            <table>
                <tr>
                    <td style="width: 100px;">
                        <div class="inline-checkbox">
                            <span {% if tipdis != None %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>SI</label>
                            <span {% if tipdis is None %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>NO</label>
                        </div>
                    </td>
                    <td style="width: 30px;"><div class="label">Cual</div></td>
                    <td>{{tipdis}}</td>
                </tr>
            </table>
        </div>

        <!-- Sección 9: Datos Laborales -->
        <div class="section">
            <div class="section-title">9. DATOS LABORALES DEL TRABAJADOR</div>
            <table>
                <tbody>
                    <tr>
                        <td><span class="label">Fecha de Ingreso a la Empresa</span></td>
                        <td><span class="label">Tipo de Contrato</span></td>
                        <td><span class="label">Jornada Laboral</span></td>
                        <td><span class="label">Salario Básico</span></td>
                        <td><span class="label">Comisión</span></td>
                        <td><span class="label">Sector Agrop.</span></td>
                    </tr>
                    <tr>
                        <td><div class="text">{{fecing}}</div></td>
                        <td>
                            <div class="inline-checkbox">
                                <span {% if tipcon == 'F' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>Fijo</label>
                                <span {% if tipcon == 'I' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>Ind.</label>
                                <span {% if tipcon == 'L' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>Labor u Obra</label>
                            </div>
                        </td>
                         <td>
                            <div class="inline-checkbox">
                                <span {% if tipjor == 'C' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>Completa</label>
                                <span {% if tipjor == 'M' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>Medio Tiem.</label>
                                <span {% if tipjor == 'P' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>Parcial</label>
                            </div>
                        </td>
                        <td>$ {{salario}}</td>
                         <td>
                            <div class="inline-checkbox">
                                <span {% if comision == 'S' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>SI</label>
                                <span {% if comision == 'N' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>NO</label>
                            </div>
                        </td>
                        <td>
                            <div class="inline-checkbox">
                                <span class="small-checkbox"></span> <label>SI</label>
                                <span class="small-checkbox active"></span> <label>NO</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td class='border-t label' style="width: 35%;">Dirección del Lugar donde desarrolla su labor</td>
                        <td class='border-t label' style="width: 30%;">Zona:</td>
                        <td class="border-t label" style="width: 35%;">Nombre de la Empresa</td>
                    </tr>
                    <tr>
                        <td><div class="text">{{dirlab}}</div></td>
                        <td> <div class="inline-checkbox">
                                <span {% if ruralt == 'N' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>U</label>
                                <span {% if ruralt == 'S' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>R</label>
                            </div>
                        </td>
                        <td>{{otra_empresa}}</td>
                    </tr>
                    <tr>
                        <td class="label">
                            <div class="inline-checkbox">
                                <strong>Labora en otra Empresa</strong> 
                                <span {% if labora_otra_empresa == 'S' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>SI</label>
                                <span {% if labora_otra_empresa == 'N' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> <label>NO</label>
                            </div>
                        </td>
                        <td class="label">Ocupación</td>
                        <td><div class="text">{{cargo}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Sección 10: Información Bancaria -->
        <div class="section">
            <div class="section-title">10. INFORMACIÓN DAVIPLATA O CUENTA BANCARIA PARA PAGO DEL SUBSIDIO FAMILIAR</div>
            <table>
                <tr>
                    <td>YO  <div class="text">{{nombre_trabajador}}</div></td>
                    <td>No de Documento <div class="text">{{cedtra}}</div></td>
                    <td><label class="label">Tipo de afiliado:</label></td>
                    <td>   
                        <div class="inline-checkbox">                            
                            <label>Trabajador </label> 
                            <span class="small-checkbox active"></span> 
                            <label>Cónyuge </label>
                            <span class="small-checkbox"></span> 
                            <label>Otro </label>
                            <span class="small-checkbox"></span> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Autorizo pago de la cuota monetaria en</td>
                    <td colspan="3">Entidad Bancaria: <div class="text">{{codban}}</div></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="inline-checkbox">
                            <label>Daviplata </label> 
                            <span {% if tippag == 'D' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> 
                            <label>Cuenta de Ahorro </label>
                            <span {% if tippag == 'A' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> 
                            <label>No tiene </label>
                            <span {% if tippag is None or tippag == '' %} class="small-checkbox active" {% else %} class="small-checkbox" {% endif %}></span> 
                        </div>
                    </td>
                    <td colspan="3">
                        <div class="text">No. <div class="text">{{numcue}}</div></div>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Nota -->
        <div class="nota">
            Nota: se deben adjuntar certificación del medio de pago, con fecha de expedición no mayor a 30 días.
        </div>

        <!-- Declaraciones -->
        <div class="declaracion">
            <strong>DECLARACIÓN JURADA:</strong> Declaro que la información suministrada en el formulario es verdadera, cuenta con los soportes probatorios correspondientes y podrá ser verificada en cualquier momento por parte de la Caja de Compensación Familiar del Caquetá COMFACA, de conformidad con lo dispuesto en el artículo 37 de la ley 21 de 1982. En el evento que la información suministrada cambie, me comprometo a reportar modificación de los datos a más tardar el día 10 del mes siguiente a la novedad, de igual manera, autorizo a COMFACA en caso de que no tenga derecho, me sean descontadas los próximos pagos de la cuota monetaria de subsidio familiar a que hubiere lugar.
        </div>

        <div class="declaracion">
            <strong>AUTORIZACIÓN PARA USO DE LA INFORMACIÓN: COMFACA</strong> es responsable del tratamiento de datos personales, y en tal virtud, recolectará, almacenará y usará la información personal que usted suministre con lo establecido en el formato de autorización PM-PSF-FT-10 que hemos puesto en su conocimiento de manera previa a la solicitud de diligenciamiento del presente documento.
        </div>

        <div class="declaracion">
            Firmar o diligenciar la información requerida se entenderá como una conducta inequívoca de que usted como titular de los datos personales confirma conocer y haber diligenciado el formato de autorización PM-PSF-FT-10, otorga su consentimiento a COMFACA para que trate su información personal de acuerdo con lo allí descrito y manifiesta que la autorización le fue solicitada y puesta de presente antes de entregar sus datos y que la suscribe de forma libre y voluntaria una vez leída en su totalidad. 
            SI <span class="small-checkbox active"></span> NO <span class="small-checkbox"></span>
        </div>
    </div>
</body>
</html>
