{% extends "layout/main.html.j2" %}
{% block title %}Formulario de Afiliación de Trabajadores - COMFACA{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="styles/trabajador.css" />
{% endblock %}
{% block content %}

{% include "trabajador/header.html.j2" %}

{% include "trabajador/empleador.html.j2" %}

{% include "trabajador/data-trabajador.html.j2" %}

{% include "trabajador/factor-vulnerabilidad.html.j2" %}

{% include "trabajador/orientacion-sexual-vivienda.html.j2" %}

{% include "trabajador/discapacidad.html.j2" %}

{% include "trabajador/data-laboral.html.j2" %}

{% include "trabajador/info-bancaria.html.j2" %}

{% include "trabajador/declaracion.html.j2" %}

{% endblock %}