{# Datos del Cónyuge (si aplica) #}
{% if conyuge %}
<table>
  <tr>
    <td rowspan="4" class="bg-light-green text-center vertical-text" style="width: 8%;">
      DATOS<br>CÓNYUGE
    </td>
    <td colspan="3">
      <span class="field-label">No. de Identificación</span><br>
      <div class="input-min-field">{{ conyuge.numero_identificacion|default('') }}</div>
    </td>
    <td colspan="3">
      <span class="field-label">Nombre y apellidos</span><br>
      <div class="input-min-field">{{ conyuge.nombres_apellidos|default('') }}</div>
    </td>
    <td colspan="1">
      <span class="field-label">Ingresos Laborales</span><br>
      <div class="input-min-field">{{ conyuge.ingresos_laborales|default(0)|currency }}</div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      Trabaja &nbsp;
      Si <span class="checkbox">{{ 'X' if conyuge.trabaja else '' }}</span> &nbsp;
      No <span class="checkbox">{{ 'X' if not conyuge.trabaja else '' }}</span>
    </td>
    <td colspan="3">
      <span class="field-label">Nombre de la empresa</span><br>
      <div class="input-min-field">{{ conyuge.empresa_nombre|default('') }}</div>
    </td>
    <td colspan="2">
      <span class="field-label">Dirección</span><br>
      <div class="input-min-field">{{ conyuge.empresa_direccion|default('') }}</div>
    </td>
  </tr>
  <tr>
    <td colspan="7">
      <span class="field-label">E-mail</span><br>
      <div class="input-min-field" style="width: 50%; display: inline-block;">{{ conyuge.email|default('') }}
      </div>
      <span class="field-label" style="margin-left: 20px;">Teléfono Empresa</span>
      <div class="input-min-field" style="width: 30%; display: inline-block;">{{
        conyuge.empresa_telefono|default('') }}</div>
      <span class="field-label" style="margin-left: 10px;">Móvil</span>
      <div class="input-min-field" style="width: 15%; display: inline-block;">{{
        conyuge.telefono_movil|default('') }}</div>
    </td>
  </tr>
</table>
{% endif %}