{% extends "layout.html.j2" %}

{% block title %}FORMULARIO DE SOLICITUD DE CRÉDITO{% endblock %}

{% block content %}
{% include "includes/header.html.j2" %}
{% include "includes/solicitud.html.j2" %}
{% include "includes/producto_solicitado.html.j2" %}
{% include "includes/datos_solicitante.html.j2" %}
{% include "includes/informacion_laboral.html.j2" %}
{% include "includes/informacion_economica.html.j2" %}
{% include "includes/informacion_legal.html.j2" %}
{% endblock %}
