<!-- Legal Text -->
<div class="legal-text">
  <p>
    <strong>Declaro bajo la gravedad de juramento, que la información contenida
      en el formulario corresponde exactamente a la realidad, por lo
      anterior cualquier falsedad o inexactitud en que incurra será
      responsabilidad del empleador y podrá ser sancionado de acuerdo a lo
      establecido en el artículo 45 de la ley 21 de 1982 y las demás
      contempladas en la ley.</strong>
  </p>

  <p>
    En calidad de Representante Legal del empleador, solicito a la Caja de
    Compensación Familiar del Caquetá COMFACA la afiliación y si fuere
    aceptado me comprometo a cumplir y respetar los estatutos y
    reglamentos de COMFACA, así como las disposiciones legales que se
    refieren al Subsidio Familiar, siendo entendido que la violación por
    parte del empleador de cualquiera de las normas que rigen el derecho a
    la Caja para ordenar su expulsión.
  </p>

  <p>
    La responsabilidad en cuanto al Subsidio Familiar queda limitada para
    la Caja desde el momento de la Afiliación y Pago de los aportes por
    parte del empleador, hasta que la empresa sea desafiliada por
    cualquier motivo.
  </p>

  <p>
    Con la firma de este formulario autorizo a la Caja de Compensación
    Familiar del Caquetá COMFACA, el envío de información, y la
    notificación de procedimientos y actos administrativos a mi correo
    electrónico registrado en este formulario, en el ítem 1. DATOS
    GENERALES EMPLEADOR. Igualmente me comprometo a informar oportunamente
    cualquier cambio en mis datos de ubicación y contacto. Y acepto las presentes condiciones.
    SI <span class="small-checkbox active">X</span> NO <span class="small-checkbox"></span>
  </p>
</div>